<div class="header">
    <form action="/instructors" method="GET">
        <input 
        type="text"
        name="filter"
        placeholder="Filtrar por nome"
        values="{{filter}}">
        
        <button class="button" type="submit">Filtrar</button>
    </form>
</div>

//um simples form com o method GET
//GET=QUE PEGA COMO CARRY STRING '?nome-do-input='
//e o button com type="submit" vai 'ativar' os action e method
